* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #6441A4;
}

h2 {
  font-size: 2em;
  font-family: 'Press Start 2P', sans-serif;
  margin: 10px;
}

a {
  text-decoration: none;
  color: white;
  margin: 0 auto;
}

footer {
  text-align: center;
  margin-bottom: 30px;
}

p {
  margin: 0;
}

.user-logo {
  width: 100px;
  border-radius: 50%;
}

.offline {
  background-color: #442c70;
}

.online {
  background-color: #63A46C;
}

.online,
.offline {
  width: 700px;
  border-radius: 500px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px black;
  margin-bottom: 25px;
}

.twitch-title {
  text-align: center;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 40px auto 0 auto;
}

.twitch-logo {
  width: 300px;
  height: 100px;
  margin-bottom: 20px;
}

/* Menu Bar */
.button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-group>button {
  background-color: white;
  border: none;
  border-radius: 500px;
  height: 40px;
  width: 200px;
  margin: 15px 20px 20px 20px;
  box-shadow: 1px 2px 7px black;
/*   font-family: 'Hind Madurai', sans-serif; */
  font-weight: bold;
  color: #6441A4;
  font-size: 1.25em;
  cursor: pointer;
}

.hvr-fade {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #F33535;
  color: white;
}

.hvr-fade-2 {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade-2:hover, .hvr-fade-2:focus, .hvr-fade-2:active {
  background-color: #F33535;
  color: white;
}

.status {
  color: black;
}

.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.twitch-info {
  display: flex;
  flex-direction: column;
}
